.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--color-rojo);
    color: white;
    padding: 20px;
    text-align: left;
}

.footer-column {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

.footer-column p {
    font-size: 14px;
    margin: 5px 0;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}
